{% extends 'base.html.twig' %}

{% block title %}Reclamation{% endblock %}

{% block body %}
    <h1>Reclamation</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>IdReclamation</th>
                <td>{{ reclamation.idReclamation }}</td>
            </tr>
            <tr>
                <th>Message</th>
                <td>{{ reclamation.message }}</td>
            </tr>
            <tr>
                <th>DateReclamation</th>
                <td>{{ reclamation.dateReclamation }}</td>
            </tr>
            <tr>
                <th>ObjetReclamation</th>
                <td>{{ reclamation.objetReclamation }}</td>
            </tr>
            <tr>
                <th>EtatReclamation</th>
                <td>{{ reclamation.etatReclamation }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_reclamation_index') }}">back to list</a>

    <a href="{{ path('app_reclamation_edit', {'idReclamation': reclamation.idReclamation}) }}">edit</a>

    {{ include('reclamation/_delete_form.html.twig') }}
{% endblock %}
